<section class="main-app">
    <sidebar></sidebar>

    <main class="container" [ngClass]="{'contacts-active': isContactsRouteActive()}">

        <div class="input-bar">
            <div class="input">
                <img src="../../assets/icon/search.svg" />
                <contact-filter></contact-filter>
            </div>
            <div class="input-icons">
                <a [routerLink]="['/contact/edit']">
                    <img src="../../assets/icon/user.svg" alt="Add contact" title="Add contact" class="add-icon" *ngIf="isContactsRouteActive()"/>
                </a>
                <img src="../../assets/icon/bell.svg" alt="Notification" title="Notifications" class="notf-icon"/>                
            </div>
        </div>

        <router-outlet></router-outlet>

    </main>
</section>