.container {
    height: 100vh;
    padding-inline: 1vw;
    // display: grid;
    // grid-template-rows: auto 1fr; 
    row-gap: 2.3em;
    align-items: center;

    &.contacts-active {
        grid-template-columns: 0;
     }
     

    & > * {
        height: 100%;
    }

    & > .input-bar {
        grid-column: span 2;
        border-right: none;
        border-bottom: 1px solid rgba(209, 209, 209, 0.5);
        margin-top: 2em;
        margin-inline: 1em;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        input {
            border: none;
        }
    }
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        & > *:not(:last-child) {
            border-right: none;
            border-bottom: 1px solid #d1d1d1;
        }
    }
}

.container-contacts {
    height: 100vh;
    padding-inline: 1vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem;
    align-items: center;

    & > *:not(:last-child) {
        border-right: 1px solid rgba(209, 209, 209, 0.5);
    }

    & > * {
        height: 100%;
    }
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        & > *:not(:last-child) {
            border-right: none;
            border-bottom: 1px solid #d1d1d1;
        }
    }
}
